@use "../../routes/Main/variables.scss";

.header {
  position: relative;
  background-color: variables.$background;
  background-image: url("/header.png");
  background-repeat: no-repeat;
  height: 125vh;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-position: 42% 45%;
  }
}

.container {
  max-width: 1350px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;

  @media only screen and (max-width: 767.98px) {
    max-width: 500px;
  }

  @media only screen and (min-width: 767.99px) and (max-width: 991.98px) {
    max-width: 800px;
  }
  @media only screen and (min-width: 991.99px) and (max-width: 1243px) {
    max-width: 1000px;
  }
}

.textBlock {
  padding-top: 8%;
}

.text {
  color: white;
  font-size: clamp(2rem, 10vw, 10vh);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  // padding-left: 20%;

  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 6vh;
  }
  @media only screen and (max-width: 767px) {
  }
}

.textHightlite {
  color: variables.$main-aсcent;
}

.logo_text {
  position: absolute;
  left: -0.7%;
  top: 53%;
  transform: rotate(270deg);
  color: white;
  font-size: clamp(1rem, 3vw, 3vh);
  text-transform: uppercase;
  text-align: center;

  @media only screen and (max-width: 767.98px) {
    left: -5%;
    top: 40%;
    font-size: 0.9rem;
  }

  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    left: -3%;
    top: 45%;
  }
}

.logo_text_academy {
  &::after {
    content: "";
    display: block;
    height: 2px;
    background: white;
  }
}
