@use "../../routes/Main/variables.scss";

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  color: white;
}

.container {
  width: 1350px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media only screen and (max-width: 767.98px) {
    max-width: 500px;
  }

  @media only screen and (min-width: 767.99px) and (max-width: 991.98px) {
    max-width: 800px;
  }
  @media only screen and (min-width: 991.99px) and (max-width: 1243px) {
    max-width: 1000px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 767.98px) {
    display: block;
  }
}

.slogan {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2.5vw, 4rem);
  font-weight: 700;
}

.hightlight {
  color: variables.$main-aсcent;
}

.media {
  display: flex;
  column-gap: 35px;
}

.icon {
  &:hover {
    color: variables.$main-aсcent;
  }
}
