@use "../../routes/Main/variables.scss";

.galary {
  padding-top: 3.13rem;
  padding-bottom: 3.13rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 767.98px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container {
  width: 1350px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media only screen and (max-width: 518px) {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 767.98px) {
    max-width: 500px;
  }

  @media only screen and (min-width: 767.99px) and (max-width: 991.98px) {
    max-width: 800px;
  }
  @media only screen and (min-width: 991.99px) and (max-width: 1243px) {
    max-width: 1000px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiperSlide img {
  display: block;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.swiper {
  width: 100%;
  height: 200px;
  margin: 0 auto;

  @media only screen and (max-width: 767.98px) {
    height: 150px;
  }

  @media only screen and (min-width: 767.99px) and (max-width: 991.98px) {
    height: 180px;
  }
}

.swiperSlide {
  position: relative;
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;

  @media only screen and (max-width: 518px) {
    height: 70%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 767.98px) {
    height: 70%;
  }
}

.mySwiper {
  position: relative;
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0%;

  @media only screen and (max-width: 518px) {
    padding: 10px 0%;
    height: 15%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 767.98px) {
    padding: 10px 0%;
    height: 15%;
    width: 90%;
    margin: 0 auto;
  }
}

.mySwiper .swiperSlide {
  height: 100%;
}

.mySwiper .swipe-slide-thumb-active {
  box-shadow: 3px 3px 10px 0px variables.$main-aсcent;
}

.swiperSlide img {
  width: 100%;
  object-fit: cover;

  @media only screen and (max-width: 767.98px) {
    height: auto;
    max-height: 250px;
  }
}

.pagination {
  position: absolute;
  top: -50px !important;
  height: 30px;
  z-index: 10;

  @media only screen and (max-width: 767.98px) {
    top: -30px !important;
    height: 20px;
  }
}

.swiper-pagination-bullet {
  height: 4px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 0px;
  color: variables.$main-aсcent;
  opacity: 1;
  background: variables.$main-aсcent;

  @media only screen and (max-width: 767.98px) {
    width: 20px;
    height: 3px;
  }
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: variables.$main-aсcent;
  opacity: 1;
}

.description {
  margin-top: 4.38rem;
  color: white;
  font-size: clamp(1rem, 1vw, 2vh);
  text-align: justify;
  column-count: 2;
  column-gap: 5%;
  width: 100%;

  @media only screen and (max-width: 518px) {
    width: 100%;
    padding: 0;
    margin-top: 3rem;
    column-count: 1;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 767.98px) {
    column-count: 1;
  }
}
